<!DOCTYPE html>
<html lang="en">
<head>
  
  <% include partials/head.ejs %>

  </head>
  <body>

    <% include partials/header.ejs %>

        <div class="cover-pic">
          <div class="header-top-bar">
            <nav class="navbar navbar-fixed-top">
                <div class="content-padding">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/">Home</a></li>
                        <li><a href="/">About</a></li>
                        <li><a href="/">Contact</a></li>
                        <li><a href="/">Blog</a></li>
                    </ul> 
                </div> 
            </nav>        
          </div>
          <div class="profile-pic">
            <img class="img-responsive img-thumbnail" src="/images/sonu.jpg">
          </div>
          <div class="user-name">
            <span>Mr.XYZ </span>
          </div>
        </div>


       

    <% include partials/footer.ejs %>
    <% include partials/scripts.ejs %>

   </body>
 </html>
